%p#notice= notice
%h1 Books
%table.table.table-hover
  %thead
    %tr
      %td= 'Name'
      %td= 'Author'
      %td= 'Status'
  %tbody
    - @books.each do |book|
      %tr
        - if book.cover?
          %td= image_tag book.cover.url
        - else
          %td= image_tag "no_cover.png", size: "50x50"
        %td= book.name
        %td= book.status
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)
        %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Book', new_book_path
%br/
= link_to "Sign UP", new_user_registration_path
= link_to "Sign IN", new_user_session_path
