#books-index
  .content
    = render 'layouts/top-five'
    %h2= 'Books in our library'
    .books-index-content
      %table.table.table-hover
        %thead
          %tr
            %td= 'Cover'
            %td= 'Name'
            %td= 'Status'
        %tbody
          - @books.each do |book|
            %tr
              - if book.cover?
                %td= image_tag(book.cover.url, height: '80', title: book.name)
              - else
                %td= image_tag "no_cover.png", size: "50x50"
              %td.fix-width
                =link_to book.name, book
              - if book.status?
                %td= 'Available'
              - else
                %td.available{title: "#{book.user.name} took the Book"}
                  = "Not available"
    - if user_signed_in?
      .new-book
        = link_to new_book_path do
          = image_tag "library.png", title: "Add new book", size: "64x64"#, :class => "swing"
    .pagination.justify-content-center
      .far= paginate @books
