#book-content
  .book-header
    .title-and-author
      .title-text
        = @book.name
      .title-text-2
        Author:
        = @book.author
    .like-logic
      .likes-counter= @book.likes_counter
      - if user_signed_in?
        - unless @like_owner
          = button_to "Like", book_likes_path(@book.id), id: 'like-btn', type: "button", method: "post", class: 'far', remote: true
        - else
          = button_to "Like", book_likes_path(@book.id), id: 'like-btn', type: "button", disabled: "True", class: 'far'
      - else
        = button_to "Like", book_likes_path(@book.id), id: 'like-btn', type: "button", disabled: "True", class: 'far'
  .about
    .about-wraper
      .cover
        - if @book.cover?
          = image_tag @book.cover.url
        - else
          = image_tag "no_cover.png"
        - if user_signed_in?
          - if @book.status?
            .take-return= button_to "Take", take_book_path(@book.id), id: 'take-return', class: "btn btn-outline-success far", type: "button", method: "put", remote: true
          - else
            - if @book.user_id == current_user.id
              .take-return= button_to "Return", return_book_path(@book.id), id: 'take-return', class: "btn btn-outline-warning far", type: "button", method: "put", remote: true
            - else
              = button_to "#{@book.user.name} took the Book", return_book_path(@book.id), id: 'take-return', class: "btn btn-danger far", type: "button", disabled: "True"
    .text-desc
      = @book.description
  .comments-area
    .comments-form
      - if user_signed_in?
        = bootstrap_form_for([ @book, @book.comments.build ], remote: true ) do |form|
          = form.text_area :comment, label: "Add your comment", placeholder: "Leave a comment..."
          = form.submit "Add comment", id: 'create_comment', class: 'btn btn-outline-info far'
    .comments-show
      .calistoga_font= 'All comments:'
      .comments-list= render 'comments/comments'
  .histories-area
    .history-title History
    %table.table
      %thead.thead-dark
        %tr
          %td.fix-width= 'Reader'
          %td= 'Take at'
          %td= 'Return at'
      %tbody.history-list
        = render 'historys/histories'

  - if user_signed_in?
    -#- if current_user.id == @book.id
    .func-links
      = link_to 'Edit', edit_book_path(@book), class: 'far'
  .back
    = link_to books_path do
      = image_tag "arrow-back.png", title: "Back to main", size: "64x64"#, :class => "swing"
