#book-content
  .title-text
    = @book.name
  .title-text-2
    Author:
    = @book.author
  .about
    .cover
      - if @book.cover?
        = image_tag @book.cover.url
      - else
        = image_tag "no_cover.png"
      .func-buttons
        - if @book.status?
          = button_to "Take", take_book_path(@book.id), class: "btn btn-outline-success", type: "button", method: "put"
        - else
          - if @book.user_id == current_user.id
            = button_to "Return", return_book_path(@book.id), class: "btn btn-outline-warning", type: "button", method: "put"
          - else
            = button_to "Take", class: "btn btn-outline-success", type: "button", disabled: "True"
        -#.like-button
        = @book.likes_counter
        - if @like_owner
          = button_to "Like", book_likes_path(@book.id), type: "button", disabled: "True"
        - else
          = button_to "Like", book_likes_path(@book.id), type: "button", method: "post"
    .text-desc
      = @book.description
  .histories
    %table.table
      %thead.thead-dark
        %tr
          %td= 'Reader'
          %td= 'Take'
          %td= 'Return'
      %tbody
        - if @histories
          - @histories.each do |f|
            %tr
              %td= f.name
              %td= f.take_date
              %td= f.return_date


  = link_to 'Edit', edit_book_path(@book)
  |
  = link_to 'Back', books_path
