%p#notice= notice
%h1= @book.name
%br/
%h3= @book.author
%br/
= @book.likes_counter
- if @book.status?
  -#= button_to "Take", book_readers_path(@book), class: "btn btn-outline-success", type: "button", method: :post
  = button_to "Take", take_book_path(@book.id), class: "btn btn-outline-success", type: "button", method: "put"
- else
  - if @book.user_id == current_user.id
    = button_to "Return", return_book_path(@book.id), class: "btn btn-outline-warning", type: "button", method: "put"
  - else
    = button_tag "Take", class: "btn btn-outline-success", type: "button", disabled: "True"
%br/
- if @book.cover?
  = image_tag @book.cover.url
- else
  = image_tag "no_cover.png"
= @book.description
%br/
-#= @book.comment
%br/
- if @histories
  - @histories.each do |f|
    = f.name
    = f.take_date
    = f.return_date
    %br/
%br/
= link_to 'Edit', edit_book_path(@book)
|
= link_to 'Back', books_path
