#book-content
  .book-header
    .title-and-author
      .title-text
        = @book.name
      .title-text-2
        Author:
        = @book.author
    .like-logic
      .likes-counter= @book.likes_counter
      - unless @like_owner
        = button_to "Like", book_likes_path(@book.id), id: 'like-btn', type: "button", method: "post", class: 'far', remote: true
      - else
        = button_to "Like", book_likes_path(@book.id), id: 'like-btn', type: "button", disabled: "True", class: 'far'


  .about
    .cover
      - if @book.cover?
        = image_tag @book.cover.url
      - else
        = image_tag "no_cover.png"
      - if @book.status?
        = button_to "Take", take_book_path(@book.id), id: 'take-return', class: "btn btn-outline-success far", type: "button", method: "put", remote: true
      - else
        - if @book.user_id == current_user.id
          = button_to "Return", return_book_path(@book.id), id: 'take-return', class: "btn btn-outline-warning far", type: "button", method: "put", remote: true
        - else
          = button_to "Take", class: "btn btn-outline-success", type: "button", disabled: "True"

    .text-desc
      = @book.description
  .comments-area
    .comments-form
      -if current_user
        = bootstrap_form_for([ @book, @book.comments.build ], remote: true ) do |form|
          = form.text_area :comment, label: "Add your comment", placeholder: "Leave a comment..."
          = form.submit "Add comment", id: 'create_comment', class: 'btn btn-outline-info far'
    .comments-show
      .calistoga_font= 'All comments:'
      - if @comments
        - @comments.each do |comment|
          .bold-text= comment.commenter + ':'
          .text-comment= comment.comment
          %br
  .histories-area
    .history-title History
    %table.table
      %thead.thead-dark
        %tr
          %td.fix-width= 'Reader'
          %td= 'Take at'
          %td= 'Return at'
      %tbody
        - if @histories
          - @histories.each do |history|
            %tr
              %td.fix-width= history.name
              %td= history.take_date
              %td= history.return_date

  .func-links
    = link_to 'Edit', edit_book_path(@book), class: 'far'
    |
    = link_to 'Back', books_path, class: 'far'
