%h2= 'TOP 5 books in our library'
.books-index-content
  %table.table.table-hover
    %thead
      %tr
        %td= ' '
        %td= 'Name'
        %td= 'Status'
        %td= ' '
    %tbody
      - @top_books.each do |top_book|
        %tr
          - if top_book.cover?
            %td= image_tag(top_book.cover.url, height: '80', title: top_book.name)
          - else
            %td= image_tag "no_cover.png", size: "50x50"
          %td.fix-width= top_book.name

          - if top_book.status?
            %td= 'Available'
          - else
            %td.available{title: "#{top_book.user.name}"}
              = "Not available"
          %td= link_to 'Show', top_book
