!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LibraryExercise
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'books', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'historys', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'comments', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'rating', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Calistoga|Roboto:500&display=swap'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto:300&display=swap'
    -#= stylesheet_link_tag 'ttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'jquery-3.4.1', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'scripts', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'login', 'data-turbolinks-track': 'reload'
    -#= javascript_include_tag 'rating', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    -#= render 'layouts/navbar'
    #content
      .main-container
        - if flash[:notice]
          .alert.alert-success= flash[:notice]
        - if flash[:alert]
          .alert.alert-danger= flash[:alert]
        = yield
